In [3]:
import pandas as pd
from scipy import stats

In [4]:
df = pd.read_spss('../full_dataset_2017.sav')
df.head()

,idind,vredid_i,vid_i,vid_h,uid_i,uid_h,tid_i,tid_h,sid_i,sid_h,...,vm98,vm99,vm100,vm101,vm102,vm103,vm104,vm105,vm106,vm107
0,3.0,34201.0,1001201.0,10012.0,1001201.0,10012.0,1001201.0,10012.0,1001201.0,10012.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.0,34401.0,1000301.0,10003.0,1000301.0,10003.0,1000301.0,10003.0,1000301.0,10003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9.0,34001.0,1000401.0,10004.0,1000401.0,10004.0,1000401.0,10004.0,1000401.0,10004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,37.0,41902.0,1002402.0,10024.0,1002402.0,10024.0,1002402.0,10024.0,1002402.0,10024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60.0,27302.0,1004702.0,10047.0,1004702.0,10047.0,NaN,NaN,1004702.0,10047.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(12441, 827)

In [6]:
df['vj72.1a'].value_counts()

vj72.1a
Нет           6540
Учились       1899
НЕТ ОТВЕТА      91
Учитесь         10
Name: count, dtype: int64

In [7]:
df_dano = pd.read_excel('../Data_RLMS.xlsx')

In [25]:
dd = df_dano.merge(df[['idind', 'vj72.1a', 'vm80.0', "vm77", 'vm81', 'vm114']], on='idind')

In [9]:
dd['vj72.1a'].value_counts()

vj72.1a
Нет           2709
Учились        819
НЕТ ОТВЕТА      28
Учитесь          3
Name: count, dtype: int64

In [10]:
dd['taken_courses'] = df['vj72.1a'].isin(['Учились', "Учитесь"])

In [11]:
taken = dd[dd['taken_courses'] == 1]
not_taken =dd[dd['taken_courses'] == 0]

In [12]:
stats.mannwhitneyu(taken['lnwage'], not_taken['lnwage'])

MannwhitneyuResult(statistic=1089330.0, pvalue=0.8107111080518612)

In [13]:
dd['vm80.0'].value_counts()

vm80.0
Да, употребляете                2814
Нет, никогда не употребляете    1036
ЗАТРУДНЯЮСЬ ОТВЕТИТЬ              13
ОТКАЗ ОТ ОТВЕТА                    5
НЕТ ОТВЕТА                         1
Name: count, dtype: int64

In [14]:
dd['consumes_alcohol'] = df['vm80.0'].isin(['Да, употребляете'])

In [15]:
consumes = dd[dd['consumes_alcohol'] == 1]
not_consumes =dd[dd['consumes_alcohol'] == 0]

In [16]:
stats.mannwhitneyu(consumes['lnwage'], not_consumes['lnwage'])

MannwhitneyuResult(statistic=1891065.5, pvalue=0.5647337132412217)

In [17]:
dd['vm77'].value_counts()

vm77
Нет                     1985
Да                       586
ОТКАЗ ОТ ОТВЕТА            4
НЕТ ОТВЕТА                 1
ЗАТРУДНЯЮСЬ ОТВЕТИТЬ       0
Name: count, dtype: int64

In [22]:
dd['cigarettes'] = df['vm77'].isin(['Да'])

In [23]:
cigarettes = dd[dd['cigarettes'] == 1]
not_cigarettes =dd[dd['cigarettes'] == 0]

In [24]:
stats.mannwhitneyu(cigarettes['lnwage'], not_cigarettes['lnwage'])

MannwhitneyuResult(statistic=807381.5, pvalue=0.16985140758765727)

In [27]:
dd['vm114'].value_counts()

vm114
ФИЗКУЛЬТУРОЙ НЕ ЗАНИМАЕТСЯ                                                                     2686
Легкие физкультурные упражнения для отдыха менее трех раз в неделю                              422
Ежедневные занятия физкультурой менее 30 минут в день                                           323
Физкультурные упражнения средней или высокой тяжести менее трех раз в неделю                    211
Ежедневные занятия физкультурой по меньшей мере 30 минут в день                                 103
Физкультурные упражнения высокой тяжести по крайней мере три раза в неделю 15 минут и более      66
НЕТ ОТВЕТА                                                                                       29
ЗАТРУДНЯЮСЬ ОТВЕТИТЬ                                                                             25
ОТКАЗ ОТ ОТВЕТА                                                                                   4
Name: count, dtype: int64

In [28]:
dd['vm81'].value_counts()

vm81
2-3 раза в течение последних 30 дней    720
Один раз в течение последних 30 дней    469
Один раз в неделю                       467
2-3 раза в неделю                       275
4-6 раз в неделю                         27
Каждый день                              17
ЗАТРУДНЯЮСЬ ОТВЕТИТЬ                      0
ОТКАЗ ОТ ОТВЕТА                           0
Name: count, dtype: int64