In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('../Data_RLMS.xlsx')
df.head()

,idind,psu,status,age,male,industry,lnwage,public,internet,children,...,id66,id67,id68,id69,id70,id71,id72,id73,id74,id75
0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,1,2,...,0,0,0,0,0,0,0,0,1,0
1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,1,1,...,1,0,0,0,1,0,0,0,1,0
2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,1,3,...,0,0,0,0,0,0,0,0,0,1
3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,1,1,...,1,0,0,0,0,0,0,0,1,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3871 entries, 0 to 3870
Data columns (total 87 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   idind     3871 non-null   int64
 1   psu       3871 non-null   object
 2   status    3871 non-null   object
 3   age       3871 non-null   int64
 4   male      3871 non-null   int64
 5   industry  3871 non-null   object
 6   lnwage    3871 non-null   float64
 7   public    3871 non-null   int64
 8   internet  3871 non-null   int64
 9   children  3871 non-null   int64
 10  urban     3871 non-null   int64
 11  educ      3871 non-null   int64
 12  id1       3871 non-null   int64
 13  id2       3871 non-null   int64
 14  id3       3871 non-null   int64
 15  id4       3871 non-null   int64
 16  id5       3871 non-null   int64
 17  id6       3871 non-null   int64
 18  id7       3871 non-null   int64
 19  id8       3871 non-null   int64
 20  id9       3871 non-null   int64
 21  id10      3871 non-null   int64
 22  id11      3871 non-null   int64
 23  id12      3871 non-null   int64
 24  id13      3871 non-null   int64
 25  id14      3871 non-null   int64
 26  id15      3871 non-null   int64
 27  id16      3871 non-null   int64
 28  id17      3871 non-null   int64
 29  id18      3871 non-null   int64
 30  id19      3871 non-null   int64
 31  id20      3871 non-null   int64
 32  id21      3871 non-null   int64
 33  id22      3871 non-null   int64
 34  id23      3871 non-null   int64
 35  id24      3871 non-null   int64
 36  id25      3871 non-null   int64
 37  id26      3871 non-null   int64
 38  id27      3871 non-null   int64
 39  id28      3871 non-null   int64
 40  id29      3871 non-null   int64
 41  id30      3871 non-null   int64
 42  id31      3871 non-null   int64
 43  id32      3871 non-null   int64
 44  id33      3871 non-null   int64
 45  id34      3871 non-null   int64
 46  id35      3871 non-null   int64
 47  id36      3871 non-null   int64
 48  id37      3871 non-null   int64
 49  id38      3871 non-null   int64
 50  id39      3871 non-null   int64
 51  id40      3871 non-null   int64
 52  id41      3871 non-null   int64
 53  id42      3871 non-null   int64
 54  id43      3871 non-null   int64
 55  id44      3871 non-null   int64
 56  id45      3871 non-null   int64
 57  id46      3871 non-null   int64
 58  id47      3871 non-null   int64
 59  id48      3871 non-null   int64
 60  id49      3871 non-null   int64
 61  id50      3871 non-null   int64
 62  id51      3871 non-null   int64
 63  id52      3871 non-null   int64
 64  id53      3871 non-null   int64
 65  id54      3871 non-null   int64
 66  id55      3871 non-null   int64
 67  id56      3871 non-null   int64
 68  id57      3871 non-null   int64
 69  id58      3871 non-null   int64
 70  id59      3871 non-null   int64
 71  id60      3871 non-null   int64
 72  id61      3871 non-null   int64
 73  id62      3871 non-null   int64
 74  id63      3871 non-null   int64
 75  id64      3871 non-null   int64
 76  id65      3871 non-null   int64
 77  id66      3871 non-null   int64
 78  id67      3871 non-null   int64
 79  id68      3871 non-null   int64
 80  id69      3871 non-null   int64
 81  id70      3871 non-null   int64
 82  id71      3871 non-null   int64
 83  id72      3871 non-null   int64
 84  id73      3871 non-null   int64
 85  id74      3871 non-null   int64
 86  id75      3871 non-null   int64
dtypes: float64(1), int64(83), object(3)
memory usage: 2.6+ MB

In [6]:
df.status.value_counts()

status
Областной це    1645
Город           1145
Село             862
ПГТ              219
Name: count, dtype: int64

In [7]:
df.industry.value_counts()

industry
ТОРГОВЛЯ, БЫ    800
ОБРАЗОВАНИЕ     411
ТРАНСПОРТ, С    361
ЗДРАВООХРАНЕ    306
СТРОИТЕЛЬСТВ    269
ЛЕГКАЯ, ПИЩЕ    248
АРМИЯ, МВД,     211
СЕЛЬСКОЕ ХОЗ    151
ЖИЛИЩНО-КОММ    140
НЕФТЕГАЗОВАЯ    130
НАУКА, КУЛЬТ    104
ОРГАНЫ УПРАВ    100
ФИНАНСЫ          96
ДРУГАЯ ОТРАС     90
ГРАЖДАНСКОЕ      89
ВОЕННО-ПРОМЫ     83
ЭНЕРГЕТИЧЕСК     78
СОЦИАЛЬНОЕ О     27
ЮРИСПРУДЕНЦИ     25
ХИМИЧЕСКАЯ П     21
ДЕРЕВООБРАБА     20
СПОРТ, ТУРИЗ     20
УСЛУГИ НАСЕЛ     20
IT, ИНФОРМАЦ     19
ОПЕРАЦИИ С Н     13
СМИ, ИЗДАТЕЛ     12
РЕКЛАМА, МАР     11
ОРГАНИЗАЦИЯ       6
ЭКОЛОГИЯ, ЗА      6
ОБЩЕСТВЕННЫЕ      2
ЦЕРКОВЬ           2
Name: count, dtype: int64