In [79]:
import pandas as pd
import numpy as np
import seaborn as sns

In [80]:
df = pd.read_excel('../Data_RLMS.xlsx')
df.head()

,idind,psu,status,age,male,industry,lnwage,public,internet,children,...,id66,id67,id68,id69,id70,id71,id72,id73,id74,id75
0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,1,2,...,0,0,0,0,0,0,0,0,1,0
1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,1,1,...,1,0,0,0,1,0,0,0,1,0
2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,1,3,...,0,0,0,0,0,0,0,0,0,1
3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,1,1,...,1,0,0,0,0,0,0,0,1,0

In [81]:
renamed_variables = {
    "psu": "region",
    "status": "city_type",
    "male": "is_male",
    "lnwage": "log_wage",
    "public": "is_gov",
    "children": "num_children",
    "educ": "education_level",
    "urban": "is_urban"
}

In [82]:
dfr = pd.read_csv('../renamed_dataset.csv')
dfr.drop(columns=['Unnamed: 0'], inplace=True)
dfr

,idind,region,city_type,age,is_male,industry,log_wage,is_gov,internet,num_children,...,id66,id67,id68,id69,id70,id71,id72,id73,id74,id75
0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,1,2,...,0,0,0,0,0,0,0,0,1,0
1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,1,1,...,1,0,0,0,1,0,0,0,1,0
2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,1,3,...,0,0,0,0,0,0,0,0,0,1
3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,1,1,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3866,56979,Московская о,Село,34,0,"ТОРГОВЛЯ, БЫ",10.015850,0,1,2,...,0,1,0,0,0,0,0,0,0,1
3867,56982,Московская о,Село,39,1,"ТРАНСПОРТ, С",11.139780,1,1,2,...,0,0,0,1,0,0,0,0,0,0
3868,56986,Московская о,Село,32,1,"ЛЕГКАЯ, ПИЩЕ",11.362930,0,1,1,...,0,0,0,0,0,0,1,0,0,0
3869,57005,г. Москва,Областной це,19,1,"СПОРТ, ТУРИЗ",12.461540,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3870,57007,г. Москва,Областной це,57,0,ЖИЛИЩНО-КОММ,9.976630,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [83]:
cols_to_add = ['idind', 'vj1.1.2', 'vj1.1.3', 'vj1.1.4', 'vj62', 'vj63', 'vj64', 'vm80.0', 'vm80', 'vj72.6h2', 'vj72.6h', 'vj72.5h4', 'vj72.5h3', 'vj72.5h2', 'vj72.5h', 'vj72.4h2', 'vj72.4h', 'vj72.3h2', 'vj72.3h', 'vj72.2h2', 'vj72.2h']

In [84]:
df_full = pd.read_spss('../full_dataset_2017.sav')
df_full = df_full[cols_to_add]
df_full

,idind,vj1.1.2,vj1.1.3,vj1.1.4,vj62,vj63,vj64,vm80.0,vm80,vj72.6h2,...,vj72.5h4,vj72.5h3,vj72.5h2,vj72.5h,vj72.4h2,vj72.4h,vj72.3h2,vj72.3h,vj72.2h2,vj72.2h
0,3.0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,ЗАТРУДНЯЮСЬ ОТВЕТИТЬ,5.0,5.0,6.0,"Нет, никогда не употребляете",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Да
1,7.0,NaN,NaN,NaN,3.0,2.0,6.0,"Да, употребляете",Да,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9.0,NaN,NaN,NaN,3.0,3.0,6.0,"Да, употребляете",Да,NaN,...,NaN,NaN,NaN,NaN,NaN,Да,NaN,NaN,NaN,NaN
3,37.0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,"И ДА, И НЕТ",СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,3.0,2.0,5.0,"Да, употребляете",Да,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60.0,СКОРЕЕ НЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ НЕ УДОВЛЕТВОРЕНЫ,СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,4.0,3.0,6.0,"Да, употребляете",Нет,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Да,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12436,57089.0,NaN,NaN,NaN,2.0,3.0,6.0,"Нет, никогда не употребляете",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12437,57090.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12438,57092.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12439,57093.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12440,58397.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
df_merged = pd.merge(dfr, df_full, on='idind')
df_merged

,idind,region,city_type,age,is_male,industry,log_wage,is_gov,internet,num_children,...,vj72.5h4,vj72.5h3,vj72.5h2,vj72.5h,vj72.4h2,vj72.4h,vj72.3h2,vj72.3h,vj72.2h2,vj72.2h
0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,1,1,...,NaN,NaN,Нет,Нет,NaN,NaN,NaN,NaN,NaN,NaN
2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Да,NaN,NaN
4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,1,1,...,NaN,NaN,NaN,Да,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3864,56979,Московская о,Село,34,0,"ТОРГОВЛЯ, БЫ",10.015850,0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Да
3865,56982,Московская о,Село,39,1,"ТРАНСПОРТ, С",11.139780,1,1,2,...,NaN,NaN,NaN,NaN,NaN,Да,NaN,NaN,NaN,NaN
3866,56986,Московская о,Село,32,1,"ЛЕГКАЯ, ПИЩЕ",11.362930,0,1,1,...,NaN,NaN,NaN,Да,NaN,NaN,NaN,NaN,NaN,NaN
3867,57005,г. Москва,Областной це,19,1,"СПОРТ, ТУРИЗ",12.461540,0,1,0,...,NaN,NaN,NaN,Нет,NaN,Да,NaN,NaN,NaN,NaN
3868,57007,г. Москва,Областной це,57,0,ЖИЛИЩНО-КОММ,9.976630,1,1,1,...,NaN,NaN,NaN,NaN,NaN,Да,NaN,NaN,NaN,NaN

In [86]:
renamed_variables_v2 = {
    "psu": "region",
    "status": "city_type",
    "male": "is_male",
    "lnwage": "log_wage",
    "public": "is_gov",
    "children": "num_children",
    "educ": "education_level",
    "urban": "is_urban",
    "vj1.1.2": "job_satisfaction",
    "vj1.1.3": "job_salary_satisfaction",
    "vj1.1.4": "career_oportunities_satisfaction",
    "vj62": "money_ladder",
    "vj63": "power_ladder",
    "vj64": "respect_ladder",
    "vm80.0": "do_you_consume_alcohol",
    "vm80": "did_you_drink_alcohol_in_last_30_days"
}

In [87]:
len(renamed_variables_v2)

16

In [88]:
df_merged.rename(columns=renamed_variables_v2, inplace=True)
df_merged.head()

,idind,region,city_type,age,is_male,industry,log_wage,is_gov,internet,num_children,...,vj72.5h4,vj72.5h3,vj72.5h2,vj72.5h,vj72.4h2,vj72.4h,vj72.3h2,vj72.3h,vj72.2h2,vj72.2h
0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,1,1,...,NaN,NaN,Нет,Нет,NaN,NaN,NaN,NaN,NaN,NaN
2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Да,NaN,NaN
4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,1,1,...,NaN,NaN,NaN,Да,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
s = """vj72.6h2
vj72.6h
vj72.5h4
vj72.5h3
vj72.5h2
vj72.5h
vj72.4h2
vj72.4h
vj72.3h2
vj72.3h
vj72.2h2
vj72.2h""".split('\n')
print(s)

['vj72.6h2', 'vj72.6h', 'vj72.5h4', 'vj72.5h3', 'vj72.5h2', 'vj72.5h', 'vj72.4h2', 'vj72.4h', 'vj72.3h2', 'vj72.3h', 'vj72.2h2', 'vj72.2h']

In [90]:
len(df_merged) - df_merged.isna().sum()

idind        3869
region       3869
city_type    3869
age          3869
is_male      3869
             ...
vj72.4h      1378
vj72.3h2       16
vj72.3h       775
vj72.2h2        3
vj72.2h       214
Length: 107, dtype: int64

In [91]:
df_merged['vj72.4h'].value_counts()

vj72.4h
Да                      1172
Нет                      200
НЕТ ОТВЕТА                 6
ЗАТРУДНЯЮСЬ ОТВЕТИТЬ       0
ОТКАЗ ОТ ОТВЕТА            0
Name: count, dtype: int64

In [92]:
df_merged.education_level.value_counts()

education_level
3    1382
1    1103
2    1063
0     321
Name: count, dtype: int64

In [93]:
ls = df_merged[df_merged.education_level == 3][['vj72.5h4', 'vj72.5h3', 'vj72.5h2', 'vj72.5h']]
newl = ls['vj72.5h'].isna().astype(int) + ls['vj72.5h2'].isna() + ls['vj72.5h3'].isna() + ls['vj72.5h4'].isna()
newl

1       2
4       3
5       3
7       2
10      3
       ..
3856    3
3857    3
3859    3
3860    3
3866    3
Length: 1382, dtype: int64

In [94]:
df_merged.to_csv('../df_extended_v2.csv')