In [12]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_excel('../Data_RLMS.xlsx')
df.head()

,idind,psu,status,age,male,industry,lnwage,public,internet,children,...,id66,id67,id68,id69,id70,id71,id72,id73,id74,id75
0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,1,2,...,0,0,0,0,0,0,0,0,1,0
1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,1,1,...,1,0,0,0,1,0,0,0,1,0
2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,1,3,...,0,0,0,0,0,0,0,0,0,1
3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,1,1,...,1,0,0,0,0,0,0,0,1,0

In [4]:
renamed_variables = {
    "psu": "region",
    "status": "city_type",
    "male": "is_male",
    "lnwage": "log_wage",
    "public": "is_gov",
    "children": "num_children",
    "educ": "education_level",
    "urban": "is_urban"
}

In [24]:
dfr = pd.read_csv('../renamed_dataset.csv')
dfr.drop(columns=['Unnamed: 0'], inplace=True)
dfr

,idind,region,city_type,age,is_male,industry,log_wage,is_gov,internet,num_children,...,id66,id67,id68,id69,id70,id71,id72,id73,id74,id75
0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,1,2,...,0,0,0,0,0,0,0,0,1,0
1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,1,1,...,1,0,0,0,1,0,0,0,1,0
2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,1,3,...,0,0,0,0,0,0,0,0,0,1
3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,1,1,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3866,56979,Московская о,Село,34,0,"ТОРГОВЛЯ, БЫ",10.015850,0,1,2,...,0,1,0,0,0,0,0,0,0,1
3867,56982,Московская о,Село,39,1,"ТРАНСПОРТ, С",11.139780,1,1,2,...,0,0,0,1,0,0,0,0,0,0
3868,56986,Московская о,Село,32,1,"ЛЕГКАЯ, ПИЩЕ",11.362930,0,1,1,...,0,0,0,0,0,0,1,0,0,0
3869,57005,г. Москва,Областной це,19,1,"СПОРТ, ТУРИЗ",12.461540,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3870,57007,г. Москва,Областной це,57,0,ЖИЛИЩНО-КОММ,9.976630,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [25]:
cols_to_add = ['idind', 'vj1.1.2', 'vj1.1.3', 'vj1.1.4', 'vj62', 'vj63', 'vj64']

In [26]:
df_full = pd.read_spss('../full_dataset_2017.sav')
df_full = df_full[cols_to_add]
df_full

,idind,vj1.1.2,vj1.1.3,vj1.1.4,vj62,vj63,vj64
0,3.0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,ЗАТРУДНЯЮСЬ ОТВЕТИТЬ,5.0,5.0,6.0
1,7.0,NaN,NaN,NaN,3.0,2.0,6.0
2,9.0,NaN,NaN,NaN,3.0,3.0,6.0
3,37.0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,"И ДА, И НЕТ",СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,3.0,2.0,5.0
4,60.0,СКОРЕЕ НЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ НЕ УДОВЛЕТВОРЕНЫ,СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,4.0,3.0,6.0
...,...,...,...,...,...,...,...
12436,57089.0,NaN,NaN,NaN,2.0,3.0,6.0
12437,57090.0,NaN,NaN,NaN,NaN,NaN,NaN
12438,57092.0,NaN,NaN,NaN,NaN,NaN,NaN
12439,57093.0,NaN,NaN,NaN,NaN,NaN,NaN
12440,58397.0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_merged = pd.merge(dfr, df_full, on='idind')
df_merged

,idind,region,city_type,age,is_male,industry,log_wage,is_gov,internet,num_children,...,id72,id73,id74,id75,vj1.1.2,vj1.1.3,vj1.1.4,vj62,vj63,vj64
0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,1,2,...,0,0,1,0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,"И ДА, И НЕТ",СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,3.0,2.0,5.0
1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,1,1,...,0,0,1,0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,7.0,7.0,7.0
2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,1,3,...,0,0,0,1,СКОРЕЕ НЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ НЕ УДОВЛЕТВОРЕНЫ,СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,4.0,3.0,5.0
3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,0,1,...,0,0,0,1,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,ЗАТРУДНЯЮСЬ ОТВЕТИТЬ,5.0,3.0,8.0
4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,1,1,...,0,0,1,0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,6.0,5.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3864,56979,Московская о,Село,34,0,"ТОРГОВЛЯ, БЫ",10.015850,0,1,2,...,0,0,0,1,ПОЛНОСТЬЮ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,3.0,2.0,5.0
3865,56982,Московская о,Село,39,1,"ТРАНСПОРТ, С",11.139780,1,1,2,...,0,0,0,0,СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,2.0,2.0,3.0
3866,56986,Московская о,Село,32,1,"ЛЕГКАЯ, ПИЩЕ",11.362930,0,1,1,...,1,0,0,0,ПОЛНОСТЬЮ УДОВЛЕТВОРЕНЫ,ПОЛНОСТЬЮ УДОВЛЕТВОРЕНЫ,ПОЛНОСТЬЮ УДОВЛЕТВОРЕНЫ,4.0,4.0,6.0
3867,57005,г. Москва,Областной це,19,1,"СПОРТ, ТУРИЗ",12.461540,0,1,0,...,0,0,0,0,ПОЛНОСТЬЮ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,ПОЛНОСТЬЮ УДОВЛЕТВОРЕНЫ,5.0,7.0,7.0
3868,57007,г. Москва,Областной це,57,0,ЖИЛИЩНО-КОММ,9.976630,1,1,1,...,0,0,0,0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ НЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ НЕ УДОВЛЕТВОРЕНЫ,5.0,5.0,8.0

In [29]:
df_merged.to_csv('../df_extended.csv')